/*s2动画*/
.pt-s2 {
    transform:translateY(0);
    transition: 1s
}
/*s3动画*/
.pt-s3 {
    transform:translateX(0);
    transition: 1s
}
/*s4动画--显示与隐藏*/
.pt-s4 {
    opacity: 1;
    transition: 1s;
}
/*s5动画--从左上角出来*/
.pt-s5 {
    transform: translate(0,0);
    transition: 1s;
}

